# Challenge

## Introduction to the datase

- Read all-ages.csv from a DataFrame and assign it to the all_ages variable.
- Read recent-grads.csv from a DataFrame and assign it to the recent_grads variable.
- Display the first 5 lines of all_ages and recent_grads.

In [2]:
import pandas as pd
all_ages = pd.read_csv('all-ages.csv')
recent_grads = pd.read_csv('recent-grads.csv')
print(all_ages)
df_row = pd.concat([all_ages, recent_grads],sort=False)
df_row.iloc[:5]

    Major_code                                            Major  \
0         1100                              GENERAL AGRICULTURE
1         1101            AGRICULTURE PRODUCTION AND MANAGEMENT
2         1102                           AGRICULTURAL ECONOMICS
3         1103                                  ANIMAL SCIENCES
4         1104                                     FOOD SCIENCE
..         ...                                              ...
168       6211                           HOSPITALITY MANAGEMENT
169       6212    MANAGEMENT INFORMATION SYSTEMS AND STATISTICS
170       6299  MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION
171       6402                                          HISTORY
172       6403                            UNITED STATES HISTORY

                      Major_category     Total  Employed  \
0    Agriculture & Natural Resources  128148.0   90245.0
1    Agriculture & Natural Resources   95326.0   76865.0
2    Agriculture & Natural Resources   33955.0   26321.0
3    Agriculture & Natural Resources  103549.0   81177.0
4    Agriculture & Natural Resources   24280.0   17281.0
..                               ...       ...       ...
168                         Business  200854.0  163393.0
169                         Business  156673.0  134478.0
170                         Business  102753.0   77471.0
171        Humanities & Liberal Arts  712509.0  478416.0
172        Humanities & Liberal Arts   17746.0   11887.0

     Employed_full_time_year_round  Unemployed  Unemployment_rate   Median  \
0                          74078.0      2423.0           0.026147  50000.0
1                          64240.0      2266.0           0.028636  54000.0
2                          22810.0       821.0           0.030248  63000.0
3                          64937.0      3619.0           0.042679  46000.0
4                          12722.0       894.0           0.049188  62000.0
..                             ...         ...                ...      ...
168                       122499.0      8862.0           0.051447  49000.0
169                       118249.0      6186.0           0.043977  72000.0
170                        61603.0      4308.0           0.052679  53000.0
171                       354163.0     33725.0           0.065851  50000.0
172                         8204.0       943.0           0.073500  50000.0

       P25th     P75th
0    34000.0   80000.0
1    36000.0   80000.0
2    40000.0   98000.0
3    30000.0   72000.0
4    38500.0   90000.0
..       ...       ...
168  33000.0   70000.0
169  50000.0  100000.0
170  36000.0   83000.0
171  35000.0   80000.0
172  39000.0   81000.0

[173 rows x 11 columns]

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,...,Sample_size,Men,Women,ShareWomen,Full_time,Part_time,Full_time_year_round,College_jobs,Non_college_jobs,Low_wage_jobs
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_row

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,...,Sample_size,Men,Women,ShareWomen,Full_time,Part_time,Full_time_year_round,College_jobs,Non_college_jobs,Low_wage_jobs
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,3609,ZOOLOGY,Biology & Life Science,8409.0,6259.0,NaN,304.0,0.046320,26000.0,20000.0,...,47.0,3050.0,5359.0,0.637293,5043.0,2190.0,3602.0,2771.0,2947.0,743.0
169,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854.0,2125.0,NaN,148.0,0.065112,25000.0,24000.0,...,7.0,522.0,2332.0,0.817099,1848.0,572.0,1211.0,1488.0,615.0,82.0
170,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838.0,2101.0,NaN,368.0,0.149048,25000.0,25000.0,...,13.0,568.0,2270.0,0.799859,1724.0,648.0,1293.0,986.0,870.0,622.0
171,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626.0,3777.0,NaN,214.0,0.053621,23400.0,19200.0,...,21.0,931.0,3695.0,0.798746,3154.0,965.0,2738.0,2403.0,1245.0,308.0
172,3501,LIBRARY SCIENCE,Education,1098.0,742.0,NaN,87.0,0.104946,22000.0,20000.0,...,2.0,134.0,964.0,0.877960,593.0,237.0,410.0,288.0,338.0,192.0

## Number of students per Major category

- Return the unique values of Major_category.
>- Use the Series.unique() method to return the unique values of a Series.

In [4]:
check = pd.Series(df_row['Major_category']).unique()
check

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', nan,
       'Psychology & Social Work', 'Arts', 'Business'], dtype=object)

- For each unique value (use a for? loop):
>- Return all lines where Major_category is worth this unique value.
>- Calculate the total number of students representing this major category (Total column to sum).
>- You will store this result in the form of a dictionary containing a Major_category key and the number of students as a value.

In [5]:
major = {}
for i in check:
    major[i] = all_ages["Total"][all_ages['Major_category'] == i].sum()
    
major

{'Agriculture & Natural Resources': 632437.0,
 'Biology & Life Science': 1338186.0,
 'Engineering': 3576013.0,
 'Humanities & Liberal Arts': 3738335.0,
 'Communications & Journalism': 1803822.0,
 'Computers & Mathematics': 1781378.0,
 'Industrial Arts & Consumer Services': 1018072.0,
 'Education': 4700118.0,
 'Law & Public Policy': 902926.0,
 'Interdisciplinary': 45199.0,
 'Health': 2950859.0,
 'Social Science': 2654125.0,
 'Physical Sciences': 1013152.0,
 nan: 0.0,
 'Psychology & Social Work': 1987278.0,
 'Arts': 1805865.0,
 'Business': 9858741.0}

In [6]:
all_ages['Total'][]

SyntaxError: invalid syntax (<ipython-input-6-29c3a405f885>, line 1)

In [7]:
for i in df_row['Total']:
    print(i)

128148.0
95326.0
33955.0
103549.0
24280.0
79409.0
6586.0
8549.0
106106.0
69447.0
83188.0
294692.0
103740.0
987676.0
418104.0
211213.0
186829.0
62141.0
253782.0
29317.0
783292.0
77805.0
39362.0
51771.0
42325.0
1438867.0
4037.0
2396.0
1446701.0
68808.0
281661.0
157079.0
56477.0
224262.0
149689.0
127022.0
88067.0
181445.0
231861.0
225553.0
503080.0
65734.0
32748.0
19587.0
18347.0
188046.0
358593.0
154160.0
671647.0
20582.0
13016.0
6264.0
138366.0
21430.0
581529.0
12818.0
10746.0
16094.0
9826.0
19631.0
57006.0
37382.0
47098.0
94697.0
82142.0
29348.0
64196.0
75791.0
236342.0
57793.0
402038.0
9330.0
67037.0
1098647.0
59211.0
601221.0
46188.0
16193.0
839454.0
75322.0
14135.0
28197.0
45368.0
6362.0
68885.0
5015.0
43984.0
55395.0
13676.0
29389.0
432806.0
19112.0
24806.0
4315.0
45199.0
56580.0
64534.0
7184.0
6898.0
61871.0
350409.0
205763.0
232865.0
8856.0
4700.0
14051.0
308062.0
107902.0
8267.0
10741.0
122620.0
7208.0
427953.0
nan
1484075.0
14041.0
7638.0
17633.0
17969.0
10871.0
34102.0
757141.0
54636.0
14782.0
81786.0
319163.0
127363.0
757616.0
143087.0
75085.0
115423.0
77371.0
748956.0
674558.0
15882.0
92346.0
nan
126639.0
571961.0
174817.0
276262.0
55141.0
504657.0
133508.0
90852.0
81008.0
8511.0
104516.0
74977.0
108510.0
64316.0
164990.0
32514.0
1769892.0
180084.0
252138.0
56741.0
77647.0
2148712.0
1779219.0
9763.0
3123510.0
57200.0
75547.0
1114624.0
816548.0
187274.0
86064.0
200854.0
156673.0
102753.0
712509.0
17746.0
2339.0
756.0
856.0
1258.0
32260.0
2573.0
3777.0
1792.0
91227.0
81527.0
41542.0
15058.0
14955.0
4279.0
4321.0
8925.0
18968.0
61152.0
2825.0
1148.0
128319.0
4361.0
11565.0
2993.0
18713.0
53153.0
18498.0
11732.0
9133.0
5978.0
4047.0
3600.0
3340.0
720.0
209394.0
174506.0
139247.0
13302.0
4631.0
nan
198633.0
72397.0
36698.0
32142.0
15914.0
11913.0
6251.0
4939.0
1762.0
2418.0
2906.0
11123.0
609.0
4168.0
3831.0
818.0
28187.0
234590.0
46420.0
25894.0
23551.0
18300.0
17947.0
14240.0
10399.0
8804.0
4790.0
3635.0
3283.0
3079.0
3014.0
2439.0
1436.0
124.0
66530.0
nan
329927.0
205211.0
182621.0
18480.0
15232.0
8066.0
39107.0
1329.0
7613.0
10972.0
24497.0
13528.0
13386.0
5629.0
1978.0
1386.0
25965.0
213996.0
152824.0
103480.0
72619.0
62052.0
53162.0
31195.0
28739.0
22060.0
19879.0
18909.0
18109.0
18035.0
15150.0
13773.0
13663.0
12296.0
4043.0
3607.0
685.0
143718.0
141951.0
48246.0
24650.0
20198.0
19735.0
14237.0
804.0
12740.0
10706.0
280709.0
115433.0
52824.0
48491.0
43647.0
30471.0
16601.0
10150.0
9916.0
9154.0
17125.0
33599.0
54814.0
34181.0
194673.0
170862.0
125074.0
71369.0
38761.0
12920.0
7416.0
6483.0
393735.0
60633.0
28213.0
21030.0
74440.0
58001.0
53552.0
21573.0
16250.0
14443.0
9628.0
9374.0
6652.0
30207.0
16977.0
10510.0
1488.0
38844.0
38279.0
37589.0
11204.0
43249.0
18953.0
8409.0
2854.0
2838.0
4626.0
1098.0

In [8]:
import numpy as np
pd.pivot_table(df_row,columns = 'Major_category',values = ['Total'],aggfunc = np.sum).to_dict()

{'Agriculture & Natural Resources': {'Total': 712418.0},
 'Arts': {'Total': 2162995.0},
 'Biology & Life Science': {'Total': 1792048.0},
 'Business': {'Total': 11161117.0},
 'Communications & Journalism': {'Total': 2196423.0},
 'Computers & Mathematics': {'Total': 2080386.0},
 'Education': {'Total': 5259247.0},
 'Engineering': {'Total': 4113596.0},
 'Health': {'Total': 3414089.0},
 'Humanities & Liberal Arts': {'Total': 4451803.0},
 'Industrial Arts & Consumer Services': {'Total': 1245429.0},
 'Interdisciplinary': {'Total': 57495.0},
 'Law & Public Policy': {'Total': 1082033.0},
 'Physical Sciences': {'Total': 1196515.0},
 'Psychology & Social Work': {'Total': 2468285.0},
 'Social Science': {'Total': 3184091.0}}

#### Mission:
- Create a function in which you will use the Total column to calculate the number of students for each Major category (Major_category) in each dataset.
>- Store the result in 2 separate dictionaries.
>- The key for each dictionary will be Major_category and the value the total number of students.
>- For the dataset all_ages, store the result in a dictionary called aa_car_counts.
>- For the dataset recent_grads, store the result in a dictionary called rg_cat_counts.
- Other method: Use a table pivot.
- Display both dictionaries.

In [9]:
import numpy as np
aa_car_counts ={}
rg_cat_counts = {}
pd.pivot_table(all_ages,columns = 'Major_category',values = ['Total'],aggfunc = np.sum).to_dict()

{'Agriculture & Natural Resources': {'Total': 632437.0},
 'Arts': {'Total': 1805865.0},
 'Biology & Life Science': {'Total': 1338186.0},
 'Business': {'Total': 9858741.0},
 'Communications & Journalism': {'Total': 1803822.0},
 'Computers & Mathematics': {'Total': 1781378.0},
 'Education': {'Total': 4700118.0},
 'Engineering': {'Total': 3576013.0},
 'Health': {'Total': 2950859.0},
 'Humanities & Liberal Arts': {'Total': 3738335.0},
 'Industrial Arts & Consumer Services': {'Total': 1018072.0},
 'Interdisciplinary': {'Total': 45199.0},
 'Law & Public Policy': {'Total': 902926.0},
 'Physical Sciences': {'Total': 1013152.0},
 'Psychology & Social Work': {'Total': 1987278.0},
 'Social Science': {'Total': 2654125.0}}

In [14]:
all_ages

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0
...,...,...,...,...,...,...,...,...,...,...,...
168,6211,HOSPITALITY MANAGEMENT,Business,200854.0,163393.0,122499.0,8862.0,0.051447,49000.0,33000.0,70000.0
169,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,156673.0,134478.0,118249.0,6186.0,0.043977,72000.0,50000.0,100000.0
170,6299,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business,102753.0,77471.0,61603.0,4308.0,0.052679,53000.0,36000.0,83000.0
171,6402,HISTORY,Humanities & Liberal Arts,712509.0,478416.0,354163.0,33725.0,0.065851,50000.0,35000.0,80000.0
172,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,17746.0,11887.0,8204.0,943.0,0.073500,50000.0,39000.0,81000.0

## Low-wage job rate

- Use the columns "Low_wage_jobs" and "Total" to calculate the proportion of young graduates who had to find low-wage jobs (recent_grads).
>- Remember that you can use the Series.sum() method to return the sum of the values of a column
- Store the result in the variable low_wage_proportion and display it.

In [10]:
recent_grads

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609.0,ZOOLOGY,Biology & Life Science,8409.0,47.0,3050.0,5359.0,0.637293,6259.0,...,2190.0,3602.0,304.0,0.046320,26000.0,20000.0,39000.0,2771.0,2947.0,743.0
169,170,5201.0,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854.0,7.0,522.0,2332.0,0.817099,2125.0,...,572.0,1211.0,148.0,0.065112,25000.0,24000.0,34000.0,1488.0,615.0,82.0
170,171,5202.0,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838.0,13.0,568.0,2270.0,0.799859,2101.0,...,648.0,1293.0,368.0,0.149048,25000.0,25000.0,40000.0,986.0,870.0,622.0
171,172,5203.0,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626.0,21.0,931.0,3695.0,0.798746,3777.0,...,965.0,2738.0,214.0,0.053621,23400.0,19200.0,26000.0,2403.0,1245.0,308.0
172,173,3501.0,LIBRARY SCIENCE,Education,1098.0,2.0,134.0,964.0,0.877960,742.0,...,237.0,410.0,87.0,0.104946,22000.0,20000.0,22000.0,288.0,338.0,192.0

In [11]:
recent_grads
a = recent_grads['Total']
total = recent_grads['Total'].sum() 
emplo = recent_grads['Low_wage_jobs'].sum()
low_wage_proportion = emplo/total
low_wage_proportion

0.09856140415130317

In [12]:
recent_grads
a = recent_grads['Total']
total = recent_grads['Total']
emplo = recent_grads['Low_wage_jobs']
low_wage_proportion = emplo/total
low_wage_proportion

0      0.082514
1      0.066138
2      0.000000
3      0.000000
4      0.030130
         ...
168    0.088358
169    0.028732
170    0.219168
171    0.066580
172    0.174863
Length: 173, dtype: float64

## Compare datasets

- Use a for loop to browse all majors.
>- For each major and each DataFrame, filter only the lines of the DataFrame corresponding to that major.
>- Compare the values for the "Unemployment_rate" column to see which of the 2 DataFrames has the lowest value.
>- Increment (cad add 1) to the rg_lower_count variable if the value for Unemployment_rate is smaller in dataframe recent_grads than in dataframe all_ages
- Display the result rg_lower_count.

In [89]:
check = pd.Series(all_ages['Major']).unique()
check
a = 0
a = 0
for i in check:
    
    a =  all_ages['Unemployment_rate'] [all_ages['Unemployment_rate']== i]
    
for i in check:
    
    b =  recent_grads['Unemployment_rate'] [recent_grads['Unemployment_rate']== i]

In [91]:
check = pd.Series(df_row['Major']).unique()
len(check)

172

In [ ]:
for

In [16]:
v = {}
a = all_ages["Unemployment_rate"]
b = recent_grads["Unemployment_rate"]
d = b < a

rg_lower_count = 0


for i,obj in enumerate(d):
    if obj == True:
        a =  recent_grads["Major"].iloc[i]
        rg_lower_count += 1
        if a not in  v:
            v[a] = 1  
        else:
            v[a] = v[a] + 1


print(rg_lower_count)
print(v.keys())

61
dict_keys(['PETROLEUM ENGINEERING', 'METALLURGICAL ENGINEERING', 'ASTRONOMY AND ASTROPHYSICS', 'AEROSPACE ENGINEERING', 'MATERIALS SCIENCE', 'ENGINEERING MECHANICS PHYSICS AND SCIENCE', 'INDUSTRIAL AND MANUFACTURING ENGINEERING', 'GENERAL ENGINEERING', 'COURT REPORTING', 'MATERIALS ENGINEERING AND MATERIALS SCIENCE', 'OPERATIONS LOGISTICS AND E-COMMERCE', 'NURSING', 'INDUSTRIAL PRODUCTION TECHNOLOGIES', 'PHYSICS', 'MEDICAL TECHNOLOGIES TECHNICIANS', 'ENGINEERING AND INDUSTRIAL MANAGEMENT', 'MATHEMATICS AND COMPUTER SCIENCE', 'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION', 'AGRICULTURE PRODUCTION AND MANAGEMENT', 'GENERAL AGRICULTURE', 'MECHANICAL ENGINEERING RELATED TECHNOLOGIES', 'GENETICS', 'UNITED STATES HISTORY', 'PHYSICAL SCIENCES', 'CHEMISTRY', 'BUSINESS MANAGEMENT AND ADMINISTRATION', 'MARKETING AND MARKETING RESEARCH', 'BOTANY', 'GEOSCIENCES', 'SOCIAL PSYCHOLOGY', 'COMMUNICATIONS', 'AREA ETHNIC AND CIVILIZATION STUDIES', 'SPECIAL NEEDS EDUCATION', 'PHYSIOLOGY', 'ATMOSPHERIC SCIENCES AND METEOROLOGY', 'SOIL SCIENCE', 'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES', 'INTERCULTURAL AND INTERNATIONAL STUDIES', 'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION', 'MATHEMATICS TEACHER EDUCATION', 'EDUCATIONAL ADMINISTRATION AND SUPERVISION', 'MISCELLANEOUS BIOLOGY', 'BIOLOGY', 'TREATMENT THERAPY PROFESSIONS', 'HOSPITALITY MANAGEMENT', 'LANGUAGE AND DRAMA EDUCATION', 'MISCELLANEOUS EDUCATION', 'ECOLOGY', 'SECONDARY TEACHER EDUCATION', 'ELEMENTARY EDUCATION', 'PHYSICAL FITNESS PARKS RECREATION AND LEISURE', 'PLANT SCIENCE AND AGRONOMY', 'SCIENCE AND COMPUTER TEACHER EDUCATION', 'MUSIC', 'ANIMAL SCIENCES', 'HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'COSMETOLOGY SERVICES AND CULINARY ARTS', 'COMMUNICATION DISORDERS SCIENCES AND SERVICES', 'EARLY CHILDHOOD EDUCATION', 'ZOOLOGY', 'COUNSELING PSYCHOLOGY'])

In [93]:
v = {}
w = {}
a = all_ages["Unemployment_rate"]
b = recent_grads["Unemployment_rate"]
d = b < a

rg_lower_count = 0


for i,obj in enumerate(d):
    if obj == True:
        a =  recent_grads["Major"].iloc[i]
        rg_lower_count += 1
rg_lower_count

61

In [37]:
major1 = pd.Series(all_ages['Major_category']).unique()
major2= pd.Series(recent_grads['Major_category']).unique()
a = {}
b = {}
for i in major1:
    a[i] = all_ages["Unemployment_rate"][all_ages['Major_category'] == i].mean()
for i in major2:
    b[i] = recent_grads["Unemployment_rate"][recent_grads['Major_category'] == i].mean()   
rg_lower_count = 0
for i,v in a.items():
    for i1,v2 in b.items():
        if i == i1:
            if v2 < v:
                rg_lower_count += 1
print(rg_lower_count)

3

In [26]:
print(b.keys())

dict_keys(['PETROLEUM ENGINEERING', 'MINING AND MINERAL ENGINEERING', 'METALLURGICAL ENGINEERING', 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'CHEMICAL ENGINEERING', 'NUCLEAR ENGINEERING', 'ACTUARIAL SCIENCE', 'ASTRONOMY AND ASTROPHYSICS', 'MECHANICAL ENGINEERING', 'ELECTRICAL ENGINEERING', 'COMPUTER ENGINEERING', 'AEROSPACE ENGINEERING', 'BIOMEDICAL ENGINEERING', 'MATERIALS SCIENCE', 'ENGINEERING MECHANICS PHYSICS AND SCIENCE', 'BIOLOGICAL ENGINEERING', 'INDUSTRIAL AND MANUFACTURING ENGINEERING', 'GENERAL ENGINEERING', 'ARCHITECTURAL ENGINEERING', 'COURT REPORTING', 'COMPUTER SCIENCE', 'FOOD SCIENCE', 'ELECTRICAL ENGINEERING TECHNOLOGY', 'MATERIALS ENGINEERING AND MATERIALS SCIENCE', 'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS', 'CIVIL ENGINEERING', 'CONSTRUCTION SERVICES', 'OPERATIONS LOGISTICS AND E-COMMERCE', 'MISCELLANEOUS ENGINEERING', 'PUBLIC POLICY', 'ENVIRONMENTAL ENGINEERING', 'ENGINEERING TECHNOLOGIES', 'MISCELLANEOUS FINE ARTS', 'GEOLOGICAL AND GEOPHYSICAL ENGINEERING', 'NURSING', 'FINANCE', 'ECONOMICS', 'BUSINESS ECONOMICS', 'INDUSTRIAL PRODUCTION TECHNOLOGIES', nan, 'ACCOUNTING', 'MATHEMATICS', 'COMPUTER AND INFORMATION SYSTEMS', 'PHYSICS', 'MEDICAL TECHNOLOGIES TECHNICIANS', 'INFORMATION SCIENCES', 'STATISTICS AND DECISION SCIENCE', 'APPLIED MATHEMATICS', 'PHARMACOLOGY', 'OCEANOGRAPHY', 'ENGINEERING AND INDUSTRIAL MANAGEMENT', 'MEDICAL ASSISTING SERVICES', 'MATHEMATICS AND COMPUTER SCIENCE', 'COMPUTER PROGRAMMING AND DATA PROCESSING', 'COGNITIVE SCIENCE AND BIOPSYCHOLOGY', 'SCHOOL STUDENT COUNSELING', 'INTERNATIONAL RELATIONS', 'GENERAL BUSINESS', 'ARCHITECTURE', 'INTERNATIONAL BUSINESS', 'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION', 'MOLECULAR BIOLOGY', 'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION', 'AGRICULTURE PRODUCTION AND MANAGEMENT', 'GENERAL AGRICULTURE', 'MISCELLANEOUS ENGINEERING TECHNOLOGIES', 'MECHANICAL ENGINEERING RELATED TECHNOLOGIES', 'GENETICS', 'MISCELLANEOUS SOCIAL SCIENCES', 'UNITED STATES HISTORY', 'INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY', 'AGRICULTURAL ECONOMICS', 'PHYSICAL SCIENCES', 'MILITARY TECHNOLOGIES', 'CHEMISTRY', 'BUSINESS MANAGEMENT AND ADMINISTRATION', 'MARKETING AND MARKETING RESEARCH', 'POLITICAL SCIENCE AND GOVERNMENT', 'GEOGRAPHY', 'MICROBIOLOGY', 'COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY', 'BIOCHEMICAL SCIENCES', 'BOTANY', 'COMPUTER NETWORKING AND TELECOMMUNICATIONS', 'GEOLOGY AND EARTH SCIENCE', 'HUMAN RESOURCES AND PERSONNEL MANAGEMENT', 'PRE-LAW AND LEGAL STUDIES', 'MISCELLANEOUS HEALTH MEDICAL PROFESSIONS', 'PUBLIC ADMINISTRATION', 'GEOSCIENCES', 'SOCIAL PSYCHOLOGY', 'ENVIRONMENTAL SCIENCE', 'COMMUNICATIONS', 'CRIMINAL JUSTICE AND FIRE PROTECTION', 'COMMERCIAL ART AND GRAPHIC DESIGN', 'JOURNALISM', 'MULTI-DISCIPLINARY OR GENERAL SCIENCE', 'ADVERTISING AND PUBLIC RELATIONS', 'AREA ETHNIC AND CIVILIZATION STUDIES', 'SPECIAL NEEDS EDUCATION', 'PHYSIOLOGY', 'CRIMINOLOGY', 'NUTRITION SCIENCES', 'HEALTH AND MEDICAL ADMINISTRATIVE SERVICES', 'COMMUNICATION TECHNOLOGIES', 'TRANSPORTATION SCIENCES AND TECHNOLOGIES', 'NATURAL RESOURCES MANAGEMENT', 'NEUROSCIENCE', 'MULTI/INTERDISCIPLINARY STUDIES', 'ATMOSPHERIC SCIENCES AND METEOROLOGY', 'FORESTRY', 'SOIL SCIENCE', 'GENERAL EDUCATION', 'HISTORY', 'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES', 'INTERCULTURAL AND INTERNATIONAL STUDIES', 'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION', 'COMMUNITY AND PUBLIC HEALTH', 'MATHEMATICS TEACHER EDUCATION', 'EDUCATIONAL ADMINISTRATION AND SUPERVISION', 'HEALTH AND MEDICAL PREPARATORY PROGRAMS', 'MISCELLANEOUS BIOLOGY', 'BIOLOGY', 'SOCIOLOGY', 'MASS MEDIA', 'TREATMENT THERAPY PROFESSIONS', 'HOSPITALITY MANAGEMENT', 'LANGUAGE AND DRAMA EDUCATION', 'LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE', 'MISCELLANEOUS EDUCATION', 'INTERDISCIPLINARY SOCIAL SCIENCES', 'ECOLOGY', 'SECONDARY TEACHER EDUCATION', 'GENERAL MEDICAL AND HEALTH SERVICES', 'PHILOSOPHY AND RELIGIOUS STUDIES', 'ART AND MUSIC EDUCATION', 'ENGLISH LANGUAGE AND LITERATURE', 'ELEMENTARY EDUCATION', 'PHYSICAL FITNESS PARKS RECREATION AND LEISURE', 'LIBERAL ARTS', 'FILM VIDEO AND PHOTOGRAPHIC ARTS', 'GENERAL SOCIAL SCIENCES', 'PLANT SCIENCE AND AGRONOMY', 'SCIENCE AND COMPUTER TEACHER EDUCATION', 'PSYCHOLOGY', 'MUSIC', 'PHYSICAL AND HEALTH EDUCATION TEACHING', 'ART HISTORY AND CRITICISM', 'FINE ARTS', 'FAMILY AND CONSUMER SCIENCES', 'SOCIAL WORK', 'ANIMAL SCIENCES', 'VISUAL AND PERFORMING ARTS', 'TEACHER EDUCATION: MULTIPLE LEVELS', 'MISCELLANEOUS PSYCHOLOGY', 'HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'HUMANITIES', 'THEOLOGY AND RELIGIOUS VOCATIONS', 'STUDIO ARTS', 'COSMETOLOGY SERVICES AND CULINARY ARTS', 'MISCELLANEOUS AGRICULTURE', 'ANTHROPOLOGY AND ARCHEOLOGY', 'COMMUNICATION DISORDERS SCIENCES AND SERVICES', 'EARLY CHILDHOOD EDUCATION', 'OTHER FOREIGN LANGUAGES', 'DRAMA AND THEATER ARTS', 'COMPOSITION AND RHETORIC', 'ZOOLOGY', 'EDUCATIONAL PSYCHOLOGY', 'CLINICAL PSYCHOLOGY', 'COUNSELING PSYCHOLOGY', 'LIBRARY SCIENCE'])