# Process missing values

## Find the missing values

- Read the dataset titanic_survival.csv

- Count the number of values in the "age" column with missing values:
>- Assign to the variable age the column of ages of the dataframe titanic_survival
>- Use pandas.isnull() on the age variable to create a set of True and False values.
>- Use the resulting Series to select only the elements in the "age" column that are null and assign the result to the age_null variable.
>- Assign the number of missing values of age_null to the variable age_null_count (function len() )
- Display age_null_count to see the number of missing values in the column "age".

In [2]:
import pandas as pd
titanic_survival = pd.read_csv('titanic_survival.csv')
age = titanic_survival['age']
age_null = []
check = pd.isnull(age)
print(age,check)
count = 0
for i in check:
    count += 1
    if i == True:
        age_null.append(age.iloc[count:]) 
print(len(age_null))

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
1309        NaN
Name: age, Length: 1310, dtype: float64 0       False
1       False
2       False
3       False
4       False
        ...
1305     True
1306    False
1307    False
1308    False
1309     True
Name: age, Length: 1310, dtype: bool
264

In [3]:
age_is_null = pd.isnull(titanic_survival["age"])
age_is_null

0       False
1       False
2       False
3       False
4       False
        ...
1305     True
1306    False
1307    False
1308    False
1309     True
Name: age, Length: 1310, dtype: bool

## Problem with missing values

- Use age_is_null to create a vector that contains only the values in the "age" column that are not NaN (i.e. for which age_is_null is False)
- Assign this result to the variable good_ages
- Calculate the mean of this new vector and assign the result to the variable mean_age
- Display this average.

In [4]:
import numpy as np
import statistics
good_ages = []
count = 0
for i , value in enumerate(age_is_null):
    if value == False:
        count += 1
        good_ages.append(age.iloc[i:]) 
good_ages

[0       29.0000
 1        0.9167
 2        2.0000
 3       30.0000
 4       25.0000
          ...
 1305        NaN
 1306    26.5000
 1307    27.0000
 1308    29.0000
 1309        NaN
 Name: age, Length: 1310, dtype: float64, 1        0.9167
 2        2.0000
 3       30.0000
 4       25.0000
 5       48.0000
          ...
 1305        NaN
 1306    26.5000
 1307    27.0000
 1308    29.0000
 1309        NaN
 Name: age, Length: 1309, dtype: float64, 2        2.0
 3       30.0
 4       25.0
 5       48.0
 6       63.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1308, dtype: float64, 3       30.0
 4       25.0
 5       48.0
 6       63.0
 7       39.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1307, dtype: float64, 4       25.0
 5       48.0
 6       63.0
 7       39.0
 8       53.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1306, dtype: float64, 5       48.0
 6       63.0
 7       39.0
 8       53.0
 9       71.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1305, dtype: float64, 6       63.0
 7       39.0
 8       53.0
 9       71.0
 10      47.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1304, dtype: float64, 7       39.0
 8       53.0
 9       71.0
 10      47.0
 11      18.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1303, dtype: float64, 8       53.0
 9       71.0
 10      47.0
 11      18.0
 12      24.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1302, dtype: float64, 9       71.0
 10      47.0
 11      18.0
 12      24.0
 13      26.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1301, dtype: float64, 10      47.0
 11      18.0
 12      24.0
 13      26.0
 14      80.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1300, dtype: float64, 11      18.0
 12      24.0
 13      26.0
 14      80.0
 15       NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1299, dtype: float64, 12      24.0
 13      26.0
 14      80.0
 15       NaN
 16      24.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1298, dtype: float64, 13      26.0
 14      80.0
 15       NaN
 16      24.0
 17      50.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1297, dtype: float64, 14      80.0
 15       NaN
 16      24.0
 17      50.0
 18      32.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1296, dtype: float64, 16      24.0
 17      50.0
 18      32.0
 19      36.0
 20      37.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1294, dtype: float64, 17      50.0
 18      32.0
 19      36.0
 20      37.0
 21      47.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1293, dtype: float64, 18      32.0
 19      36.0
 20      37.0
 21      47.0
 22      26.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1292, dtype: float64, 19      36.0
 20      37.0
 21      47.0
 22      26.0
 23      42.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1291, dtype: float64, 20      37.0
 21      47.0
 22      26.0
 23      42.0
 24      29.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1290, dtype: float64, 21      47.0
 22      26.0
 23      42.0
 24      29.0
 25      25.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1289, dtype: float64, 22      26.0
 23      42.0
 24      29.0
 25      25.0
 26      25.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1288, dtype: float64, 23      42.0
 24      29.0
 25      25.0
 26      25.0
 27      19.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1287, dtype: float64, 24      29.0
 25      25.0
 26      25.0
 27      19.0
 28      35.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1286, dtype: float64, 25      25.0
 26      25.0
 27      19.0
 28      35.0
 29      28.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1285, dtype: float64, 26      25.0
 27      19.0
 28      35.0
 29      28.0
 30      45.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1284, dtype: float64, 27      19.0
 28      35.0
 29      28.0
 30      45.0
 31      40.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1283, dtype: float64, 28      35.0
 29      28.0
 30      45.0
 31      40.0
 32      30.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1282, dtype: float64, 29      28.0
 30      45.0
 31      40.0
 32      30.0
 33      58.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1281, dtype: float64, 30      45.0
 31      40.0
 32      30.0
 33      58.0
 34      42.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1280, dtype: float64, 31      40.0
 32      30.0
 33      58.0
 34      42.0
 35      45.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1279, dtype: float64, 32      30.0
 33      58.0
 34      42.0
 35      45.0
 36      22.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1278, dtype: float64, 33      58.0
 34      42.0
 35      45.0
 36      22.0
 37       NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1277, dtype: float64, 34      42.0
 35      45.0
 36      22.0
 37       NaN
 38      41.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1276, dtype: float64, 35      45.0
 36      22.0
 37       NaN
 38      41.0
 39      48.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1275, dtype: float64, 36      22.0
 37       NaN
 38      41.0
 39      48.0
 40       NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1274, dtype: float64, 38      41.0
 39      48.0
 40       NaN
 41      44.0
 42      59.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1272, dtype: float64, 39      48.0
 40       NaN
 41      44.0
 42      59.0
 43      60.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1271, dtype: float64, 41      44.0
 42      59.0
 43      60.0
 44      41.0
 45      45.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1269, dtype: float64, 42      59.0
 43      60.0
 44      41.0
 45      45.0
 46       NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1268, dtype: float64, 43      60.0
 44      41.0
 45      45.0
 46       NaN
 47      42.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1267, dtype: float64, 44      41.0
 45      45.0
 46       NaN
 47      42.0
 48      53.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1266, dtype: float64, 45      45.0
 46       NaN
 47      42.0
 48      53.0
 49      36.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1265, dtype: float64, 47      42.0
 48      53.0
 49      36.0
 50      58.0
 51      33.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1263, dtype: float64, 48      53.0
 49      36.0
 50      58.0
 51      33.0
 52      28.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1262, dtype: float64, 49      36.0
 50      58.0
 51      33.0
 52      28.0
 53      17.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1261, dtype: float64, 50      58.0
 51      33.0
 52      28.0
 53      17.0
 54      11.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1260, dtype: float64, 51      33.0
 52      28.0
 53      17.0
 54      11.0
 55      14.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1259, dtype: float64, 52      28.0
 53      17.0
 54      11.0
 55      14.0
 56      36.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1258, dtype: float64, 53      17.0
 54      11.0
 55      14.0
 56      36.0
 57      36.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1257, dtype: float64, 54      11.0
 55      14.0
 56      36.0
 57      36.0
 58      49.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1256, dtype: float64, 55      14.0
 56      36.0
 57      36.0
 58      49.0
 59       NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1255, dtype: float64, 56      36.0
 57      36.0
 58      49.0
 59       NaN
 60      36.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1254, dtype: float64, 57      36.0
 58      49.0
 59       NaN
 60      36.0
 61      76.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1253, dtype: float64, 58      49.0
 59       NaN
 60      36.0
 61      76.0
 62      46.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1252, dtype: float64, 60      36.0
 61      76.0
 62      46.0
 63      47.0
 64      27.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1250, dtype: float64, 61      76.0
 62      46.0
 63      47.0
 64      27.0
 65      33.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1249, dtype: float64, 62      46.0
 63      47.0
 64      27.0
 65      33.0
 66      36.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1248, dtype: float64, 63      47.0
 64      27.0
 65      33.0
 66      36.0
 67      30.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1247, dtype: float64, 64      27.0
 65      33.0
 66      36.0
 67      30.0
 68      45.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1246, dtype: float64, 65      33.0
 66      36.0
 67      30.0
 68      45.0
 69       NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1245, dtype: float64, 66      36.0
 67      30.0
 68      45.0
 69       NaN
 70       NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1244, dtype: float64, 67      30.0
 68      45.0
 69       NaN
 70       NaN
 71      27.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1243, dtype: float64, 68      45.0
 69       NaN
 70       NaN
 71      27.0
 72      26.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1242, dtype: float64, 71      27.0
 72      26.0
 73      22.0
 74       NaN
 75      47.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1239, dtype: float64, 72      26.0
 73      22.0
 74       NaN
 75      47.0
 76      39.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1238, dtype: float64, 73      22.0
 74       NaN
 75      47.0
 76      39.0
 77      37.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1237, dtype: float64, 75      47.0
 76      39.0
 77      37.0
 78      64.0
 79      55.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1235, dtype: float64, 76      39.0
 77      37.0
 78      64.0
 79      55.0
 80       NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1234, dtype: float64, 77      37.0
 78      64.0
 79      55.0
 80       NaN
 81      70.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1233, dtype: float64, 78      64.0
 79      55.0
 80       NaN
 81      70.0
 82      36.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1232, dtype: float64, 79      55.0
 80       NaN
 81      70.0
 82      36.0
 83      64.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1231, dtype: float64, 81      70.0
 82      36.0
 83      64.0
 84      39.0
 85      38.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1229, dtype: float64, 82      36.0
 83      64.0
 84      39.0
 85      38.0
 86      51.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1228, dtype: float64, 83      64.0
 84      39.0
 85      38.0
 86      51.0
 87      27.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1227, dtype: float64, 84      39.0
 85      38.0
 86      51.0
 87      27.0
 88      33.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1226, dtype: float64, 85      38.0
 86      51.0
 87      27.0
 88      33.0
 89      31.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1225, dtype: float64, 86      51.0
 87      27.0
 88      33.0
 89      31.0
 90      27.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1224, dtype: float64, 87      27.0
 88      33.0
 89      31.0
 90      27.0
 91      31.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1223, dtype: float64, 88      33.0
 89      31.0
 90      27.0
 91      31.0
 92      17.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1222, dtype: float64, 89      31.0
 90      27.0
 91      31.0
 92      17.0
 93      53.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1221, dtype: float64, 90      27.0
 91      31.0
 92      17.0
 93      53.0
 94       4.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1220, dtype: float64, 91      31.0
 92      17.0
 93      53.0
 94       4.0
 95      54.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1219, dtype: float64, 92      17.0
 93      53.0
 94       4.0
 95      54.0
 96      50.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1218, dtype: float64, 93      53.0
 94       4.0
 95      54.0
 96      50.0
 97      27.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1217, dtype: float64, 94       4.0
 95      54.0
 96      50.0
 97      27.0
 98      48.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1216, dtype: float64, 95      54.0
 96      50.0
 97      27.0
 98      48.0
 99      48.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1215, dtype: float64, 96      50.0
 97      27.0
 98      48.0
 99      48.0
 100     49.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1214, dtype: float64, 97      27.0
 98      48.0
 99      48.0
 100     49.0
 101     39.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1213, dtype: float64, 98      48.0
 99      48.0
 100     49.0
 101     39.0
 102     23.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1212, dtype: float64, 99      48.0
 100     49.0
 101     39.0
 102     23.0
 103     38.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1211, dtype: float64, 100     49.0
 101     39.0
 102     23.0
 103     38.0
 104     54.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1210, dtype: float64, 101     39.0
 102     23.0
 103     38.0
 104     54.0
 105     36.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1209, dtype: float64, 102     23.0
 103     38.0
 104     54.0
 105     36.0
 106      NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1208, dtype: float64, 103     38.0
 104     54.0
 105     36.0
 106      NaN
 107      NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1207, dtype: float64, 104     54.0
 105     36.0
 106      NaN
 107      NaN
 108      NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1206, dtype: float64, 105     36.0
 106      NaN
 107      NaN
 108      NaN
 109     36.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1205, dtype: float64, 109     36.0
 110     30.0
 111     24.0
 112     28.0
 113     23.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1201, dtype: float64, 110     30.0
 111     24.0
 112     28.0
 113     23.0
 114     19.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1200, dtype: float64, 111     24.0
 112     28.0
 113     23.0
 114     19.0
 115     64.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1199, dtype: float64, 112     28.0
 113     23.0
 114     19.0
 115     64.0
 116     60.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1198, dtype: float64, 113     23.0
 114     19.0
 115     64.0
 116     60.0
 117     30.0
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0
 1309     NaN
 Name: age, Length: 1197, dtype: float64, 114     19.0
 115     64.0
 116     60.0
 117     30.0
 118      NaN
         ...
 1305     NaN
 1306    26.5
 1307    27.0
 1308    29.0

In [5]:
titanic_survival["age"][-titanic_survival.age.isnull()].mean()

29.8811345124283

In [6]:
titanic_survival["age"][-titanic_survival.age.notnull()]

15     NaN
37     NaN
40     NaN
46     NaN
59     NaN
        ..
1297   NaN
1302   NaN
1303   NaN
1305   NaN
1309   NaN
Name: age, Length: 264, dtype: float64

In [7]:
titanic_survival["age"][titanic_survival["age"]== 29.0]

0       29.0
24      29.0
189     29.0
226     29.0
369     29.0
372     29.0
374     29.0
391     29.0
407     29.0
452     29.0
521     29.0
526     29.0
574     29.0
586     29.0
589     29.0
688     29.0
715     29.0
746     29.0
880     29.0
893     29.0
935     29.0
950     29.0
951     29.0
990     29.0
1058    29.0
1100    29.0
1196    29.0
1231    29.0
1258    29.0
1308    29.0
Name: age, dtype: float64

## To calculate an average more simply ##

- Assign the mean of the column "fare" to the variable mean_fare.
- Display the result.

In [8]:
titanic_survival["age"].mean()#work with out missing value

29.8811345124283

## Calculate price statistics

- Create an empty dictionary called fares_by_class.
- Create the passenger_classes list which contains the elements [1,2,3].
- Use a for loop to browse the passenger_classes list:
>- Just select the titanic_survival lines for which the pclass column is equal to the temporary variable (the iterator) of the for loop, i.e. corresponding to the class number (1, 2 or 3).
>- Select only the fare column for this subset of rows (corresponding to the class).
>- Use the Series.mean() method to calculate the average of this subset
>- Add this calculated average of the class to the fares_by_class dictionary with the class number as a key (and therefore as a value the average price of the boarding ticket)
- Once the loop is complete, the fares_by_class dictionary should have 1,2 and 3 as keys with the corresponding averages as values.
- Display the result.

In [9]:
fares_by_class = {}
passenger_classes = [1,2,3]
for i in passenger_classes:
    fares_by_class[i] = titanic_survival["fare"][titanic_survival["pclass"] == i].mean()
fares_by_class

{1: 87.50899164086687, 2: 21.1791963898917, 3: 13.302888700564957}

## Introduction to table pivots

- Use the dataFrame.pivot_table() method to calculate the average age for each passenger class ("pclass").
- Assign the result to the variable passenger_age.
- Display passenger_age.
- Do the same with the survived column for each passenger class.

In [32]:
import numpy as np
pd.pivot_table(titanic_survival,values = 'survived',columns = ['pclass'],aggfunc = np.mean)

pclass         1.0       2.0       3.0
survived  0.619195  0.429603  0.255289

In [ ]:
pd.pivot_table(titanic_survival,index = ['pclass'] values = ['age'])

## Pivot Tables Level 2

- Make a pivot table that calculates the total money collected ("fare") and the total number of survivors ("survivved") for each boat port ("embarked"). You will have to use the numpy.sum function.
- Assign the result to the port_stats variable.
- Display the result.

In [33]:
pd.pivot_table(titanic_survival,index = 'embarked',values = ['fare','survived'],aggfunc = np.sum)

                fare  survived
embarked
C         16830.7922     150.0
Q          1526.3085      44.0
S         25033.3862     304.0

In [34]:
pd.pivot_table(titanic_survival,columns = 'embarked',values = ['fare','survived'],aggfunc = np.sum)

embarked           C          Q           S
fare      16830.7922  1526.3085  25033.3862
survived    150.0000    44.0000    304.0000

## Eliminate missing values

- Delete all rows of titanic_survival for which the columns "age" or "sex" have missing values and assign the result to the variable new_titanic_survival.
- Compare the number of rows left with the shape attribute.

In [24]:
new_titanic_survival = titanic_survival.dropna(subset = ['age','sex'],axis = 0)
new_titanic_survival.shape

(1046, 15)

In [25]:
titanic_survival.shape

(1310, 15)

## iloc to access lines

- Assign the first 10 lines of new_titanic_survival to the first_ten_rows variable.
- Assign the 5th line of new_titanic_survival to the row_position-fifth variable.
- Assign the row with index name 25 for new_titanic_survival to the variable row_index_25.

In [44]:
new_titanic_survival.iloc[-5:]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [1]:
#new_titanic_survival.loc[1301]
#new_titanic_survival.loc[1302]

## The column indexes

- Assign the row heading value 1100 for the "age" column of new_titanic_survival to the variable row_index_1100_age.
- Assign the row heading value 25 for the column "survived" in new_titanic_survival to the variable row_index_25_survived.
- Assign the first 5 rows and 3 columns of new_titanic_survival to the variable five_rows_three_cols.
- Display all results.

In [29]:
row_index_1100_age = new_titanic_survival.loc[1100,'age']
row_index_25_survived = new_titanic_survival.loc[25,'survived']
print(row_index_1100_age)
print(row_index_25_survived)

29.0
0.0

In [32]:
five_rows_three_cols = new_titanic_survival.loc[:5,'pclass':'name']
five_rows_three_cols

,pclass,survived,age_labels,name
0,1.0,1.0,older,"Allen, Miss. Elisabeth Walton"
1,1.0,1.0,minor,"Allison, Master. Hudson Trevor"
2,1.0,0.0,minor,"Allison, Miss. Helen Loraine"
3,1.0,0.0,older,"Allison, Mr. Hudson Joshua Creighton"
4,1.0,0.0,older,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)"
5,1.0,1.0,older,"Anderson, Mr. Harry"

## Re-index the lines in a dataframe ##

- Re-index the new_titanic_survival dataframe so that the first line starts at 0 and remove the old indexing.
- Assign the result to the variable titanic_reindexed.
- Display the first 5 rows and first 3 columns of titanic_reindexed.

In [47]:
titanic_reindex = new_titanic_survival.reset_index()
titanic_reindex

,index,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1042,1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1043,1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1044,1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1045,1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [48]:
titanic_reindex = new_titanic_survival.reset_index(drop = True)
titanic_reindex

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1042,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1043,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1044,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1045,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

## Applying functions to a DataFrame

- Write a function that counts the number of missing elements in a Series object.
- Use the DataFrame.apply() method to apply your function on titanic_survival.
- Assign the result to the variable column_null_count.
- Display the result.

In [59]:
#every collumn
def null_count(data):
    column_null = pd.isnull(data)
    null = data[column_null]
    return len(null)
titanic_survival.apply(null_count,axis =1)

0        1
1        1
2        2
3        1
4        2
        ..
1305     5
1306     3
1307     4
1308     4
1309    14
Length: 1310, dtype: int64

In [61]:
nuul_count = titanic_survival.apply(lambda x:x.isnull().sum(),axis =1)
print(nuul_count)

0        1
1        1
2        2
3        1
4        2
        ..
1305     5
1306     3
1307     4
1308     4
1309    14
Length: 1310, dtype: int64

In [58]:
titanic_survival.apply(lambda x:x.loc['pclass'] , axis = 1)

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1305    3.0
1306    3.0
1307    3.0
1308    3.0
1309    NaN
Length: 1310, dtype: float64

In [ ]:
titanic_survival.apply(lambda x:x+1 , axis = 1)#all rows from start row and each column lamda  xx

## Apply a function to a line

- Create a function that returns the string "minor" for someone under 18 years old, "adult" if their age is 18 or older, and "unknown" if the value is missing.
- Use this function with the apply() method to find the correct title for each apssager in the titanic_survival dataframe.
- Assign the result to the age_labels variable.
- Display the result.

In [3]:
def check(data):
    if data < 18:
        return "minor"
    elif data >= 18:
        return "older"
    else:
        return "unkown"
age_labels = titanic_survival.apply(lambda x: check(x['age']), axis=1)

In [15]:
age = titanic_survival["age"].apply(lambda x: 'minor' if x<18 elif x=>18 'older' else 'unknown')
age

SyntaxError: invalid syntax (<ipython-input-15-26ec31404ad0>, line 1)

## Practice: Calculate percent survival by age group

- Add the column "age_labels" to the dataframe titanic_survival containing the variable age_labels that we created before.
- Create a pivot table that calculates the average chance of survival (column "survived") for each age group (column "age_labels") in the dataframe titanic_survival.
- Assign the resulting Series object to the age_group_survival variable.
- Display the result.

In [4]:
titanic_survival.insert(2, "age_labels", age_labels) 
titanic_survival

,pclass,survived,age_labels,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,older,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,minor,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,minor,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,older,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,older,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,unkown,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,older,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,older,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,older,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,unkown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import numpy as np
age_group_survival = pd.pivot_table(titanic_survival,columns = 'age_labels',values = 'survived',aggfunc = np.mean)
age_group_survival

age_labels     minor     older    unkown
survived    0.525974  0.387892  0.277567